{% extends 'base.html' %}
{% load static %}
{% block title %}Change Possword{% endblock title %}

{% block main %}
 <div class="container">
    <div class="row my-7">
        <div class="col-sm-6 offset-sm-3">
            <h3>Welcome {{ request.user.username | capfirst }}</h3>
            <hr>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled ">
            </ul>
        </div>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center text-success mt-7">
            <h3>Reset Password  Successfully !</h3>
        </div>
            </div>
 </div>
{% endblock main %}